.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 1152px;
  height: 700px;
  background: #370617;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
  .container-1 {
    display: flex;
    align-items: flex-end; 
    }
   .container__block {
      margin: 10px;
      width: 78px;
      height: 78px;
      background: #9D0208;
      border-radius: 4px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .container-2{
    display: flex;
    gap: 12px; 
    align-items: center;    
    justify-content: center;
  }
  .container-2__block{
       width: 78px;
       height: 120px;
       background: #9D0208;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
       border-radius: 4px;
  }


  .container-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
      }
  .container-3__block{
       gap: 12px;
       margin: 12px;
       width: 78px;
       height: 78px;
       background: #9D0208;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
       border-radius: 4px;
  }


  .container-4{
    display: flex;
    justify-content: space-between;
      }
    .container-4__block-44{
        align-self: flex-end;
        margin: 10px;
        width: 78px;
        height: 64px;
        background: #9D0208;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
      }
      

.container-5{
    gap: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container-5__block-55{
     align-items: center;
     width: 78px;
     height: 64px;
     background: #9D0208;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
}
.container-5__block{
     width: 78px;
     height: 120px;
     background: #9D0208;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
     }


.container-6{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.container-6__block-66{
     width: 156px;
     height: 78px;
     background: #9D0208;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
}